<!DOCTYPE html>
<html>

<head>
  <title>Site do Samuel</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <script src="/javascripts/validacao.js"></script>
</head>
<header>
  <div class="box-area">
    <div class="wrapper">
      <div class="logo">
        <a href="/secretaria"> <img src="/images/slogan2.png" class="logo" alt="Slogan Mundo JIX"> </a>
      </div>
    </div>
  </div>
</header>

<body>
  <div class=container>
    <hr>
    <fieldset>
      <hr>
      <legend>
        Certificados
      </legend>
      <table class="table table-sm table-striped table-hover table-dark">
        <tr>
          <td scope="col">Nome</td>
          <td scope="col">Documento</td>
          <td scope="col">Certificado</td>
          <td scope="col">Carga Horária</td>
          <td scope="col">Status</td>
          <td scope="col">Validar</td>
          <td scope="col">Negar Validação </td>
        </tr>
        <% for(i=0; i<alunos.length; i++) { %>
          <tr>
            <td>
              <%= alunos[i].nome %>
            </td>
            <td>
              <a href="uploads/<%= alunos[i].documento %>" class="btn">Ver Documento</a>
            </td>
            <td>
              <%= alunos[i].atividadeCertificado %>
            </td>
            <td>
              <%= alunos[i].tempo %>
            </td>
            <td>
              <%= alunos[i].homologar %>
            </td>
            <td>
              <a href="/secretaria-validar?id=<%= alunos[i].id %>" class="btn"> Validar </a>
            </td>
            <td>
              <a href="/secretaria-negar?id=<%= alunos[i].id %>" class="btn btn-danger"> Negar </a>
            </td>
          </tr>
          <% } %>
      </table>
    </fieldset>
  </div>
</body>
<footer class="rodape">
  &copy; Copyright 2021
</footer>

</html>